@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: radial-gradient(ellipse at top, #61863f, transparent),
        radial-gradient(ellipse at bottom, #4d9f0c, transparent);
    color: rgb(24, 23, 23);
    height: 100vh;
    overflow: clip;
    padding: 2px;
}

main{
    background: url("/landimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
}
main::after{
    background-color: rgba(0, 0, 0, 0.363);
    content: " ";
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}
/* From Uiverse.io by sawantyash11 */
.loader {
    display: block;
    --height-of-loader: 4px;
    --loader-color: #ff0000;
    width: 100%;
    height: var(--height-of-loader);
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
}

.loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
    50% {
        width: 100%;
    }

    100% {
        width: 0;
        right: 0;
        left: unset;
    }
}